alacritty.yaml
arkrc
astro
autorandr
BraveSoftware
chromium-flags.conf
chrono
Code
dconf
discord
Electron
gh
GIMP
github-copilot
gitui
google-chrome
gtk-2.0
gtk-3.0
helix
htop
hyper
hyper
kdeglobals
kitty
kitty.conf
Kitware
libfm
mc
menus
mimeapps.list
ncspot
neofetch
nitrogen
nushell
obsidian
obs-studio
pcmanfm
QtProject.conf
ranger
Raspberry Pi'
rofi
Signal
spotify
syncthing
systemd
rofi
Signal
spotify
syncthing
systemd
vlc
'YouTube Music'
zulip

