alacritty.yaml
arkrc
astro
autorandr
BraveSoftware
chromium-flags.conf
chrono
Code
dconf
discord
Electron
gh
GIMP
github-copilot
gitui
google-chrome
gtk-2.0
gtk-3.0
helix
htop
hyper
hyper
kdeglobals
Kitware
libfm
mc
menus
mimeapps.list
ncspot
neofetch
nitrogen
nushell
obsidian
obs-studio
pcmanfm
QtProject.conf
ranger
Raspberry Pi'
rofi
Signal
spotify
syncthing
systemd
rofi
Signal
spotify
syncthing
systemd
vlc
'YouTube Music'
zulip

TabNine
TabNine
TabNine/4.4.250
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults
TabNine/defaults/capabilities.prefs.json
TabNine/defaults/global_restart_status.prefs.json
TabNine/defaults/tabnine_version_4.4.250.prefs.json
TabNine/monitoring
TabNine/monitoring/11976-TabNine
TabNine/monitoring/12062-TabNine
TabNine/monitoring/12209-TabNine-deep-local
TabNine/temp
TabNine/temp/http_server_settings_154794
TabNine/temp/http_server_settings_169002
TabNine/temp/http_server_settings_223285
TabNine/temp/http_server_settings_325467
TabNine/temp/http_server_settings_39279
TabNine/temp/http_server_settings_39299
cava
cutechess/cutechess.ini
init.lua
nextjs-nodejs/config.json
pulse/fcf54cb2e64146ed87fe0d1079658c04-device-volumes.tdb
pulse/fcf54cb2e64146ed87fe0d1079658c04-stream-volumes.tdb
pulse/fcf54cb2e64146ed87fe0d1079658c04-stream-volumes.tdb
pulse/fcf54cb2e64146ed87fe0d1079658c04-stream-volumes.tdb
pulse/fcf54cb2e64146ed87fe0d1079658c04-stream-volumes.tdb
pulse/fcf54cb2e64146ed87fe0d1079658c04-stream-volumes.tdb
pulse/fcf54cb2e64146ed87fe0d1079658c04-device-volumes.tdb
pulse/fcf54cb2e64146ed87fe0d1079658c04-card-database.tdb
pulse
init.lua
flameshot/flameshot.ini
init.lua
init.lua
pulse
pulse
pulse
pulse
pulse
init.lua
TabNine/monitoring
TabNine/defaults
TabNine/defaults/global_restart_status.prefs.json
TabNine/defaults/tabnine_version_4.4.250.prefs.json
TabNine/monitoring/11976-TabNine
